body {
  background-color: #E2BB7C;
  background-image: url("http://res.cloudinary.com/hamolyva9/image/upload/c_scale,h_1225,w_1833/v1488138700/old_paper_s6fhxk.jpg");
  margin-top: 5%;
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 54px;
  font-family: "Kaushan Script", cursive;
  color: #623E05;
  text-shadow: 2px 2px 4px #F2FDA8;
}

.container {
  background-color: #BDD675;
  height: 5em;
  width: 25em;
  margin: 3% 7%;
  padding: 3% 3% 0% 3%;
  border-radius: 3%;
  box-shadow: 2px 2px 4px #F2FDA8;
  font-size: 44px;
  font-weight: bolder;
  font-family: "Tangerine", cursive;
  text-align: center;
}

.buttons {
  margin-left: 35%;
}

.buttons button {
  margin: 2% 20% 0 0;
  font-size: 30px;
  font-family: "Kaushan Script", cursive;
  box-shadow: 2px 2px 4px #F2FDA8;
}

footer {
  text-align: center;
  bottom: 0;
  font-weight: bolder;
  color: #623E05;
  margin-top: 4%;
}
